/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary: #258cf4;
  --color-background-light: #f5f7f8;
  --color-background-dark: #15191E;
  --color-success: #00ff41;
  --color-danger: #ff3131;
  --color-cool-grey: #2A3038;
  --font-family-display: 'Space Grotesk', sans-serif;
  --radius: 0px;
  --radius-lg: 2px;
  --radius-xl: 4px;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--color-background-dark);
}
